{%extends 'base.html'%} {%block title%} Post {%endblock%}{%block header%}Add
post for {{post.user.get_full_name}} {%endblock%} {%block content%}
<div class="post">
  <form action="/posts/{{post.id}}/edit" method="POST">
    <div class="user_from_div">
      <label for="">Title</label><br />
      <input
        type="text"
        name="title"
        placeholder="{{post.title}}"
        required
      /><br />
    </div>
    <div class="user_from_div">
      <label for="">Content</label><br />
      <textarea
        type="text"
        name="content"
        placeholder="{{post.content}}"
        required
        rows="4"
        cols="50"
      ></textarea
      ><br />
    </div>
    <button>Edit</button>
  </form>
  <a href="/"> <button class="main_btn">Cancel</button></a>
  {%endblock%}
</div>
